<!doctype html>
<html>
  <head>
    <script src="components/angular/angular.js"></script>
    <script src="ui/app.js"></script>
    <script src="ui/bomb.js"></script>
  <body ng-app="app" ng-controller="MainController">
    <div>explosions: {{explosions}}</div>
    <div ng-repeat="bomb in bombs">
      bomb.exploded {{bomb.exploded}} bomb.resolved {{bomb.resolved}} <a href="" ng-click="stop(bomb)">stop</a>
    </div>
    <form >
      <input type="number" ng-model="delay"> <input ng-click="add_bomb(delay)" type="submit">
    </form>
  </body>
</html>

